
#showcase {
  position: absolute;
  display: grid;
  top: 20%;
  width: 99%;
  overflow: hidden;
  box-shadow: #aaa 5px 5px, #bbb 10px 10px, #ccc 15px 15px, #ddd 20px 20px, #eee 25px 25px;
}

.showcaseContainer {
  --z: 10%;
  --s: 360px;
  --g: 0%;

  gap: var(--g);
  width: calc(2*var(--s) + var(--g));
  grid-auto-flow: column;
}

.showcaseContainer>img {
  width: 0;
  min-width: calc(100% + var(--z)/2);
  height: var(--s);
  object-fit: contain;
  mask: var(--mask);
  cursor: pointer;
  transition: .5s;
}

.showcaseContainer>img:hover {
  width: calc(var(--s));
}

.showcaseContainer>img:first-child {
  place-self: start;
  clip-path: polygon(0 0, 100% 0, 100% 102%, 0 102%);
  --mask:
    conic-gradient(from -135deg at right, #0000, #000 1deg 89deg, #0000 90deg) 50%/100% calc(2*var(--z)) repeat-y;
  background-color: #000 /*#A0C4D6; for tfctta*/
}

.showcaseContainer>img:last-child {
  place-self: end;
  clip-path: polygon(0 0, 100% 0, 100% 102%, 0 102%);
  --mask:
    conic-gradient(from 45deg at left, #0000, #000 1deg 89deg, #0000 90deg) 50% calc(50% - var(--z))/100% calc(2*var(--z)) repeat-y;
  background-color: #9b8266;
}

#showcaseTitle {
  position: absolute;
  display: flex;
  left: 50%;
  transform: translateX(-50%);
  top: 10%;
  width: 20%;
  height: 10%;
  font-size: xx-large;
  justify-content: center;
  align-items: center;
  z-index: 1;
}